footer {
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    position: absolute;
}
footer p {
    text-align: center;
    align-items: center;
}